<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHtO1nuO-5NUuM_uchxwEno_PGdNd8qlU</string>
	<key>GCM_SENDER_ID</key>
	<string>307303870552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wonddak.manager</string>
	<key>PROJECT_ID</key>
	<string>mt-manager-6ae02</string>
	<key>STORAGE_BUCKET</key>
	<string>mt-manager-6ae02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307303870552:ios:98da75ac8136cd9c7a1a2d</string>
</dict>
</plist>